{%- macro vote(entity, route) -%}
  {% with {
    upvote: constant('Raddit\\AppBundle\\Entity\\Votable::VOTE_UP'),
    downvote: constant('Raddit\\AppBundle\\Entity\\Votable::VOTE_DOWN'),
    retract: constant('Raddit\\AppBundle\\Entity\\Votable::VOTE_RETRACT'),
    upvoted: constant('Raddit\\AppBundle\\Entity\\Votable::USER_UPVOTED'),
    downvoted: constant('Raddit\\AppBundle\\Entity\\Votable::USER_DOWNVOTED'),
  } %}
    {{- block('vote') -}}
  {% endwith %}
{%- endmacro -%}

{%- block vote -%}
  {%- from '_macros/icon.html.twig' import icon -%}

  {%- set user_choice = is_granted('ROLE_USER') ? entity.userChoice(app.user) : null -%}
  {%- spaceless -%}
    <form action="{{ path(route, {id: entity.id}) }}" method="post"
          class="vote {{ user_choice == upvoted ? 'vote-user-upvoted' }} {{ user_choice == downvoted ? 'vote-user-downvoted' }}"
          data-ajax-action="{{ path(route, {id: entity.id, _format: 'json'}) }}"
          data-score="{{ entity.netScore }}">

      {# csrf_token starts a session #}
      {% if is_granted('ROLE_USER') %}
        <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
      {% endif %}

      <button type="submit" name="choice" value="{{ user_choice == upvoted ? retract : upvote }}"
              class="vote-button vote-up"
              title="{{ (user_choice == upvoted ? 'action.retract_upvote' : 'action.upvote')|trans }}">
        <span class="inner" aria-hidden="true">{{ icon('up', 'up') }}</span>
      </button>

      <span class="vote-score">{{ entity.netScore }}</span>

      <button type="submit" name="choice" value="{{ user_choice == downvoted ? retract : downvote }}"
              class="vote-button vote-down"
              title="{{ (user_choice == downvoted ? 'action.retract_downvote' : 'action.downvote')|trans }}">
        <span class="inner" aria-hidden="true">{{ icon('down', 'down') }}</span>
      </button>
    </form>
  {%- endspaceless -%}
{%- endblock -%}
