{%- macro submission(submission, options) -%}
  {%- set options = {
    show_body: false,
    show_forum_name: true,
  }|merge(options|default({})) -%}

  {{- block('submission') -}}
{%- endmacro -%}

{%- macro submission_sort(current) -%}
  {%- set attr = app.request.attributes -%}
  {%- spaceless -%}
    {%- for type in ['hot', 'new', 'top', 'controversial'] -%}
      <li class="tabs__tab {{ type == current ? 'tabs__tab--active active' }}">
        <a href="{{ path(attr.get('_route'), (attr.get('_route_params') ?? [])|merge({page: 1, sortBy: type})) }}" class="tabs__link {{ type == current ? 'tabs__link--active' }}">
          {{- ('submissions.sort_by_'~type)|trans -}}
        </a>
      </li>
    {%- endfor -%}
  {%- endspaceless -%}
{%- endmacro -%}

{%- block submission_info_submitter -%}
  {%- from 'user/_macros.html.twig' import user_link -%}
  {{ user_link(submission.user, {
    class: 'submission-submitter',
    flag: submission.userFlag,
  }) }}
{%- endblock -%}

{%- block submission_info_timestamp -%}
  {%- set date = submission.timestamp|localizeddate('long', 'short') -%}
  <time datetime="{{ submission.timestamp|date('c') }}" title="{{ date }}" class="submission-timestamp relative-time">
    {{- 'submissions.info_at_timestamp'|trans({'%timestamp%': date}) -}}
  </time>
{%- endblock -%}

{%- block submission_info_forum_name -%}
  <a href="{{ path('forum', {forum_name: submission.forum.name}) }}" class="submission-forum">
    {{- submission.forum.name -}}
  </a>
{%- endblock -%}

{%- block submission_info_edited_at -%}
  {%- set date = submission.editedAt|localizeddate('long', 'short') -%}
  <time datetime="{{ submission.editedAt|date('c') }}" title="{{ date }}" class="relative-time-diff" data-compare-to="{{ submission.timestamp|date('c') }}">
    {{- 'submissions.info_at_timestamp'|trans({'%timestamp%': date}) -}}
  </time>
{%- endblock -%}

{%- block submission -%}
  {%- from 'vote/_macros.html.twig' import vote -%}
  {%- set open_external = submission.url is not empty and (app.user.openExternalLinksInNewTab ?? false) -%}
  <article class="submission {{ submission.url ? 'submission-has-url' }} {{ submission.body is not null ? 'submission-has-body' }} {{ not options.show_body ? 'submission-body-hidden' }} {{ submission.sticky ? 'submission-sticky' }} {{ submission.locked ? 'submission-locked' }}">
    <div class="submission-row">
      <div class="submission-vote">
        {{- vote(submission, 'submission_vote') -}}
      </div>

      {% if submission.image %}
        <div class="submission-image-container">
          <a href="javascript:void(0);" class="submission-image show-image" {% if submission.url %}rel="nofollow noreferrer noopener" {% if open_external %}target="_blank"{% endif %}{% endif %} data-href="{{ submission.url }}">
            <img src="{{ submission.image|imagine_filter('submission_thumbnail') }}" class="submission-thumbnail" alt="">
          </a>
        </div>
      {% endif %}

      <div class="submission-inner">
        <header class="submission-header">
          <h1 class="submission-title">
            <a href="{{ block('submission_url') }}" class="submission-link" {% if submission.url %}rel="nofollow noreferrer noopener" {% if open_external %}target="{{ open_external ? '_blank' }}"{% endif %}{% endif %}>
              {{- submission.title -}}
            </a>

            {% if submission.url is not empty and '://' in submission.url %}
              <small class="submission-host">
                {%- with {host: submission.url|split('://')[1]|split('/')[0]} -%}
                  {{- host[0:4] == 'www.' ? host[4:] : host -}}
                {%- endwith -%}
              </small>
            {% endif %}
          </h1>
        </header>

          <div class="media">
              {#<div class="media-left">
                  {% if submission.image %}
                      <img src="{{ asset('images/view-image.svg') }}" class="show-image" width="30px">
                  {% endif %}
              </div>#}
              <div class="media-body">
                  <p class="submission-info">
                      {% if submission.locked %}
                          {% from '_macros/icon.html.twig' import icon %}
                          {{ icon('lock') }}
                      {% endif %}

                      {%- if options.show_forum_name -%}
                          {{ 'submissions.info_with_forum_name'|trans({
                              '%submitter%': block('submission_info_submitter'),
                              '%timestamp%': block('submission_info_timestamp'),
                              '%forum%': block('submission_info_forum_name'),
                          })|raw }}
                      {%- else -%}
                          {{ 'submissions.info_without_forum_name'|trans({
                              '%submitter%': block('submission_info_submitter'),
                              '%timestamp%': block('submission_info_timestamp'),
                          })|raw }}
                      {%- endif -%}

                      {% if submission.editedAt %}
                          <span class="submission-info-edited-at {{ submission.moderated ? 'submission-info-moderated' }}">
                            {{ (submission.moderated ? 'submissions.moderator_info' : 'submissions.edit_info')|trans({
                                '%edited_at%': block('submission_info_edited_at')
                            })|raw }}
                          </span>
                      {% endif %}

                      {% if app.environment == 'dev' and app.request.query.has('showrank') %}
                          {{ submission.ranking - submission.timestamp.timestamp  }}
                      {% endif %}
                  </p>
                  {%- spaceless -%}
                      <nav class="submission-nav">
                          <ul>
                              <li>
                                  <a href="{{ path('comments', {forum_name: submission.forum.name, submission_id: submission.id, slug: submission.title|slugify}) }}">
                                      {{- 'submissions.comments'|transchoice(submission.comments|length) -}}
                                  </a>
                              </li>
                              {%- if is_granted('edit', submission) -%}
                                  <li>
                                      <a href="{{ path('edit_submission', {forum_name: submission.forum.name, submission_id: submission.id}) }}">
                                          {{- 'submissions.edit'|trans -}}
                                      </a>
                                  </li>
                                  <li>
                                      <form action="{{ path('delete_submission', {forum_name: submission.forum.name, submission_id: submission.id}) }}" method="POST">
                                          <input type="hidden" name="token" value="{{ csrf_token('delete_submission') }}">
                                          <button class="confirm-submission-delete">{{ 'action.delete'|trans }}</button>
                                      </form>
                                  </li>
                              {%- endif -%}
                              {%- if is_granted('moderator', submission.forum) -%}
                                  <li>
                                      <form action="{{ path(submission.locked ? 'unlock' : 'lock', {
                                          forum_name: submission.forum.name,
                                          submission_id: submission.id,
                                      }) }}" method="post">
                                          <input type="hidden" name="token" value="{{ csrf_token('lock') }}">
                                          <button>{{ submission.locked ? 'action.unlock'|trans : 'action.lock'|trans }}</button>
                                      </form>
                                  </li>
                                  <li>
                                      <a href="{{ path('forum_ban', {forum_name: submission.forum.name, username: submission.user.username}) }}">
                                          {{- 'action.ban'|trans -}}
                                      </a>
                                  </li>
                              {%- endif -%}
                              {%- if is_granted('ROLE_ADMIN') -%}
                                  <li>
                                      <a href="{{ path('ban_by_submission', {id: submission.id}) }}">{{ 'action.global_ban'|trans }}</a>
                                  </li>
                              {%- endif -%}
                          </ul>
                      </nav>
                  {%- endspaceless -%}
              </div>
          </div>

        {%- if options.show_body -%}
          {% if submission.url %}
            <div class="submission-media">{{ block('submission_media') }}</div>
          {% endif %}

          {% if submission.body is not null %}
            <div class="submission-body">{{ submission.body|cached_markdown|raw }}</div>
          {% endif %}
        {%- endif -%}

          {% if submission.image %}
              <div class="embedly-image hidden"></div>
          {% endif %}
      </div>
    </div>
  </article>
{% endblock %}

{%- block submission_url -%}
  {%- if submission.url -%}
    {{- submission.url -}}
  {%- else -%}
    {{- path('comments', {forum_name: submission.forum.name, submission_id: submission.id, slug: submission.title|slugify}) -}}
  {%- endif -%}
{%- endblock -%}

{%- block submission_media -%}
  {# TODO #}
{%- endblock -%}
