@import (reference) 'mixins';

.content-wrapper {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  & > .body {
    flex: 1 1 auto;
    min-width: 0;
  }

  & > .sidebar {
    flex: none;
    min-width: 0;
  }

  margin: 0 1rem;
}

.site-alerts {
  margin: 0 1rem;

  &:empty {
    display: none;
  }
}

.site-footer {
  margin-top: auto;
  padding: 1rem 1rem 0;

  .site-footer-version {
    display: table;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.35;
    font-size: 0.80rem;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }
}

.notification-head {
  font-size: 1rem;
  margin-bottom: 0;
}

.user-flag::before { content: '['; }
.user-flag::after { content: ']'; }

.user-flag-admin {
  color: @user-flag-admin-color;
}

.user-flag-moderator {
  color: @user-flag-moderator-color;
}

.media {
  margin-bottom: 10px;
  .media-left {
    display: inline-block; vertical-align: top; margin-right: 5px;
  }
  img {
    cursor: pointer;
  }
  .media-body {
    display: inline-block;
    p {
      margin-bottom: 0;
    }
  }
}

.hidden {
  display: none;
}

.embedly-card-hug {
  margin-left: -120px !important;
}