<!DOCTYPE html>
<html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ site_name() }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="raddit {{ app_version() }}">

    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109878227-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109878227-1');
	</script>
    {% block stylesheets %}
      {{ include('_includes/stylesheets.html.twig', {
        theme: app.user.preferredTheme ?? null,
        night_mode: app.user.nightMode ?? false,
      }, with_context=false) }}
    {% endblock %}

    {% block head %}{% endblock %}
  </head>

  <body class="{% block page_classes '' %} {{ app.user ? 'user-logged-in' : 'user-anonymous' }} {{ (app.user.nightMode ?? false) ? 'night-mode' }}">
    {{ include('_includes/site_nav.html.twig', {forum: forum ?? null}, with_context=false) }}

    <div class="site-alerts">
      {%- for type, notices in app.flashes -%}
        {%- for notice in notices -%}
          <div class="alert alert--{{ type }} alert--animate alert--dismissable" role="alert">
            <p>{{ notice|trans }}</p>
          </div>
        {%- endfor -%}
      {%- endfor -%}
    </div>

    <div class="content-wrapper">
      <main class="body">{% block body %}{% endblock %}</main>
      <aside class="sidebar">{% block sidebar %}{% endblock %}</aside>
    </div>

    {#<footer class="site-footer">
      <p class="site-footer-version">
        {{ 'site_footer.version'|trans({
          '%branch%': app_branch(),
          '%version%': app_version(),
          '%app%': '<a href="https://gitlab.com/edgyemma/raddit-app">raddit</a>',
        })|raw }}
      </p>
    </footer>#}

    {% block javascripts %}
      <script src="{{ preload(asset('bundles/fosjsrouting/js/router.js')) }}"></script>
      <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
      <script src="{{ preload(asset('build/manifest.js')) }}"></script>
      <script src="{{ preload(asset('build/vendor.js')) }}"></script>
      <script src="{{ preload(asset('build/main.js')) }}"></script>
      <script src="{{ path('bazinga_jstranslation_js') }}"></script>
      {#<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>#}
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    {% endblock %}

    <script>
//      $(".lazyload").lazyload();
    </script>
  </body>
</html>
