{{ form_start(form) }}
  {% if form.parent is defined %}
    <div class="form__row">
      {{ form_label(form.parent) }}
      {{ form_errors(form.parent) }}
      {{ form_widget(form.parent) }}

      <div class="form__help">
        <p>{{ 'help.parent_theme_input'|trans }}</p>
      </div>
    </div>
  {% endif %}

  {{ form_row(form.name) }}

  {{ form_row(form.commonCss, { attr: { rows: 12 } }) }}

  {{ form_row(form.dayCss, { attr: { rows: 12 } }) }}

  {{ form_row(form.nightCss, { attr: { rows: 12 } }) }}

  <div class="form__row">
    {{ form_label(form.comment) }}
    {{ form_errors(form.comment) }}
    {{ form_widget(form.comment) }}
    <div class="form__help">
      <p>{{ 'help.revision_summary'|trans }}</p>
    </div>
  </div>

  <div class="form__row">
    {{ form_label(form.appendToDefaultStyle) }}
    {{ form_errors(form.appendToDefaultStyle) }}
    {{ form_widget(form.appendToDefaultStyle) }}
    <div class="form__help">
      <p>{{ 'help.append_to_default_style'|trans }}</p>
      <p>{{ 'help.append_to_default_style_inheritance_warning'|trans }}</p>
    </div>
  </div>

  <div class="form__row form__button-row">
    <button class="button">
      {{ editing ? 'action.edit_theme'|trans : 'action.create_theme'|trans }}
    </button>
  </div>
{{ form_end(form) }}
